In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import alpaca_trade_api as tradeapi
import numpy as np
import requests
from talib import MACD, RSI, BBANDS
from datetime import datetime, timedelta, date
from IPython.display import display, HTML
%matplotlib inline
import json
import math
from dateutil import parser
from pytz import timezone
import pytz
import sys
import iso8601

In [2]:
api = tradeapi.REST(base_url="https://api.alpaca.markets")
session = requests.session()

In [3]:
symbol = 'MRIN'

In [4]:
day_to_analyze = '2020-10-23'

In [5]:
minutes_data = api.polygon.historic_agg_v2(
    symbol, 
    1, 
    'minute',
    _from = str((datetime.strptime(day_to_analyze, '%Y-%m-%d')-timedelta(days=7)).date()),
    to=str((datetime.strptime(day_to_analyze, '%Y-%m-%d')+timedelta(days=1)).date())).df

In [6]:
minutes_data

                            open   high    low   close    volume    vwap
timestamp
2020-10-16 09:36:00-04:00  1.270  1.270  1.270  1.2700    1000.0  1.2700
2020-10-16 10:35:00-04:00  1.270  1.270  1.270  1.2700     100.0  1.2700
2020-10-16 10:38:00-04:00  1.260  1.260  1.260  1.2600    1926.0  1.2600
2020-10-16 11:18:00-04:00  1.260  1.260  1.260  1.2600     100.0  1.2600
2020-10-16 12:09:00-04:00  1.255  1.255  1.255  1.2550     100.0  1.2550
...                          ...    ...    ...     ...       ...     ...
2020-10-23 10:09:00-04:00  2.730  2.830  2.720  2.8000  166202.0  2.7733
2020-10-23 10:10:00-04:00  2.820  3.040  2.820  2.9678  497674.0  2.9425
2020-10-23 10:11:00-04:00  2.970  3.070  2.910  2.9800  676029.0  2.9862
2020-10-23 10:12:00-04:00  2.980  3.020  2.900  2.9997  489673.0  2.9654
2020-10-23 10:13:00-04:00  3.010  3.010  2.760  2.8069  642768.0  2.8499

[2105 rows x 6 columns]

In [7]:
clean_close = minutes_data["close"].dropna().between_time("9:30", "16:00").dropna()

In [8]:
clean_close

timestamp
2020-10-16 09:36:00-04:00    1.2700
2020-10-16 10:35:00-04:00    1.2700
2020-10-16 10:38:00-04:00    1.2600
2020-10-16 11:18:00-04:00    1.2600
2020-10-16 12:09:00-04:00    1.2550
                              ...
2020-10-23 10:09:00-04:00    2.8000
2020-10-23 10:10:00-04:00    2.9678
2020-10-23 10:11:00-04:00    2.9800
2020-10-23 10:12:00-04:00    2.9997
2020-10-23 10:13:00-04:00    2.8069
Name: close, Length: 1031, dtype: float64

In [9]:
macds = MACD(clean_close)

In [10]:
macds

(timestamp
 2020-10-16 09:36:00-04:00         NaN
 2020-10-16 10:35:00-04:00         NaN
 2020-10-16 10:38:00-04:00         NaN
 2020-10-16 11:18:00-04:00         NaN
 2020-10-16 12:09:00-04:00         NaN
                                ...
 2020-10-23 10:09:00-04:00    0.071337
 2020-10-23 10:10:00-04:00    0.090606
 2020-10-23 10:11:00-04:00    0.105643
 2020-10-23 10:12:00-04:00    0.117792
 2020-10-23 10:13:00-04:00    0.110588
 Length: 1031, dtype: float64,
 timestamp
 2020-10-16 09:36:00-04:00         NaN
 2020-10-16 10:35:00-04:00         NaN
 2020-10-16 10:38:00-04:00         NaN
 2020-10-16 11:18:00-04:00         NaN
 2020-10-16 12:09:00-04:00         NaN
                                ...
 2020-10-23 10:09:00-04:00    0.047437
 2020-10-23 10:10:00-04:00    0.056071
 2020-10-23 10:11:00-04:00    0.065985
 2020-10-23 10:12:00-04:00    0.076347
 2020-10-23 10:13:00-04:00    0.083195
 Length: 1031, dtype: float64,
 timestamp
 2020-10-16 09:36:00-04:00         NaN
 2020-10-16 10:35:00-04:00         NaN
 2020-10-16 10:38:00-04:00         NaN
 2020-10-16 11:18:00-04:00         NaN
 2020-10-16 12:09:00-04:00         NaN
                                ...
 2020-10-23 10:09:00-04:00    0.023900
 2020-10-23 10:10:00-04:00    0.034535
 2020-10-23 10:11:00-04:00    0.039658
 2020-10-23 10:12:00-04:00    0.041445
 2020-10-23 10:13:00-04:00    0.027393
 Length: 1031, dtype: float64)

In [11]:
macds[0].dropna().to_csv(f"{symbol}-{day_to_analyze}-MACD.csv")
macds[1].dropna().to_csv(f"{symbol}-{day_to_analyze}-MACD-signal.csv")
macds[2].dropna().to_csv(f"{symbol}-{day_to_analyze}-MACD-hist.csv")